altair==4.1.0
anyio==2.2.0
appdirs==1.4.4
argcomplete==1.12.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
bcc==0.18.0
Beaker==1.10.0
beautifulsoup4==4.9.3
bleach==3.3.0
blivet==3.3.3
blivet-gui==2.2.1
Brlapi==0.8.2
cachetools==4.2.1
cairocffi==1.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
commonmark==0.9.1
configobj==5.0.6
cppyy==1.9.3
cppyy-backend==1.14.2
cppyy-cling==6.21.5
CPyCppyy==1.12.2
cryptography==3.4.6
cupshelpers==1.0
cycler==0.10.0
dasbus==1.4
dbus-next==0.2.2
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.7.1
dictdiffer==0.8.1
distlib==0.3.1
distro==1.5.0
dominate==2.5.2
entrypoints==0.3
fasteners==0.14.1
filelock==3.0.12
fros==1.1
gdown==3.12.2
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
GoSync==0.53
gpg==1.15.1
greenlet==1.0.0
httplib2==0.19.1
humanize==0.5.1
i3ipc==2.2.1
idna==2.10
ifaddr==0.1.7
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==5.2.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.5.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
langtable==0.0.54
libcomps==0.1.15
libnl==0.2.0
lit==12.0.0rc1
lxml==4.6.2
Mako==1.1.4.dev0
MarkupSafe==1.1.1
matplotlib==3.3.4
mercurial==5.7.1
meson==0.56.2
mistletoe==0.7.2
mistune==0.8.4
mod-wsgi==4.7.1
mps-youtube==0.2.8
msgpack==1.0.2
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
netaddr==0.8.0
netifaces==0.10.9
nftables==0.1
notebook==5.2.2
notion-py==0.0.9
numpy==1.20.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
packaging==20.9
pafy==0.5.5
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
Paste==3.5.0
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==8.1.2
ply==3.11
productmd==1.32
progressbar2==3.52.1
prometheus-client==0.9.0
prompt-toolkit==1.0.18
protobuf==3.16.0
psutil==5.8.0
ptyprocess==0.6.0
pulsectl==21.3.4
pwquality==1.4.4
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.43.0.6
pydbus==0.6.0
pyenchant==3.2.0
Pygments==2.8.1
PyGObject==3.40.1
pyinotify==0.9.6
pykickstart==3.32
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyparted==3.11.7
PyQt5==5.15.0
PyQt5-sip==4.19.24
PyQtWebEngine==5.15.2
pyrsistent==0.17.3
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-Levenshtein==0.12.0
python-meh==0.50
python-slugify==4.0.1
python-telegram==0.12.0
python-utils==2.4.0
python-xlib==0.29
pytz==2021.1
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.2
qtile==0.14.2
QtPy==1.9.0
qutebrowser==2.2.0
ranger-fm==1.9.3
requests==2.24.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.0
rpm==4.16.1.3
rpmconf==1.1.3
rsa==4.7.2
scapy==2.4.5
selinux==3.2
Send2Trash==1.5.0
sepolicy==3.2
setools==4.4.0
setproctitle==1.1.10
simplegeneric==0.8.1
simpleline==1.8
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
sniffio==1.2.0
sos==4.1
soupsieve==2.2
SSSDConfig==2.4.2
stevedore==3.3.0
swtpm-localca==0.5.2
swtpm-setup==0.5.2
systemd-python==234
Tempita==0.5.1
template==0.6.6
templates==0.0.5
terminado==0.9.2
terminator==2.1.0
testpath==0.4.4
text-unidecode==1.3
tg==0.7.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
tzlocal==2.1
ulauncher==5.11.0
uritemplate==3.0.1
urllib3==1.25.10
vega==3.4.0
vega-datasets==0.9.0
virtualenv==20.4.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
watchdog==2.1.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
wxPython==4.1.1
xcffib==0.9.0
xonsh==0.9.26
youtube-dl==2021.4.26
