:root {
    --accent-color: #FFFFFF;
    --zindex-1-color: #778a99;
    --zindex-2-color: #FFFFFF;
}

.navbar {
    background-color: var(--accent-color);
    height: 75px;
    padding: 10px;
}

.logo span {
    font-family: 'Pacifico', cursive;
    font-size: 38px;
    color: var(--zindex-1-color);
}

.section {
    background: var(--zindex-1-color);
    box-shadow: inset 10px 10px 8px rgba(0, 0, 0, 0.2), inset -10px -10px 6px rgba(99, 109, 120, 0.30);
    border-radius: 30px;
    margin-top: 70px;
}

.section_option {
    background: var(--zindex-2-color);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 92%;
    margin-top: 30px;
}

.section_chapter_image {
    margin: 30px;
    margin-left: 60px;
}

.section_input {
    color: #B9B9B9;
    font-family: 'Pacifico';
    background: #4C545C;
    border-color: #4C545C !important;
    outline: #4C545C !important;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    padding: 15px;
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.30), inset -4px -4px 4px rgba(99, 109, 120, 0.30);
    border-radius: 25px;
}

a:hover {
    text-decoration: dashed;
}

.section_btn {
    background: var(--accent-color);
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    max-width: 85%;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #656566;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.section_btn:hover {
    box-shadow: none;
    background: var(--accent-color);
    cursor: pointer;
}

.section_option_header {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 15px;
}

.circle_icon_pressed {
    border-radius: 50%;
    background: var(--zindex-1-color);
    box-shadow: inset 4px 4px 5px #41474f, inset -4px -4px 5px #67717d;
    margin: 13px;
    width: 75px;
    height: 75px;
    padding: 7px;
}

body {
    background: var(--zindex-2-color);
}

#car_menu {
    border-style: dashed;
    border: 1px white;
    min-height: 90px;
    animation: none;
    animation-iteration-count: infinite;
}

.loading {
    position: absolute;
    display: none;
}

#loading_header {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    line-height: 28px;
    top: 50%;
    left: 50%;
    z-index: 0;
}

#cloud_1 {
    z-index: 2;
    top: 500px;
    left: 100px;
}

#cloud_2 {
    z-index: 2;
    top: 500px;
    right: 100px;
}

#cloud_3 {
    z-index: 1;
    top: 80%;
    right: 600px;
}

@keyframes Rainbow {
    0% {
        color: var(--zindex-2-color);
        background-color: var(--accent-color, 50%);
    }

    100% {
        color: white;
        background-color: var(--zindex-1-color, 50%);
    }
}

@keyframes Cloud1 {
    0% {
        top: 50%;
        left: 10%;
    }

    20% {
        top: 10%;
        left: 45%;
    }

    40% {
        top: 45%;
        left: 65%;
    }

    60% {
        top: 10%;
        left: 25%;
    }
}

@keyframes Cloud2 {
    0% {
        top: 5%;
        right: 20%;
    }

    20% {
        top: 54%;
        right: 20%;
    }

    40% {
        top: 45%;
        right: 15%;
    }

    60% {
        top: 10%;
        right: 25%;
    }
}

@keyframes Cloud3 {
    0% {
        top: 10%;
        right: 50%px;
    }

    20% {
        top: 90%;
        right: 60%;
    }

    40% {
        top: 60%;
        right: 90%;
    }

    60% {
        top: 10%;
        right: 250px;
    }
}